<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidelementary">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".funnyview.FunnyViewActivity"
            android:launchMode="singleInstance">
        </activity>
        <activity
            android:name=".viewgroup.CollapsingToolbarActivity"
            android:label="@string/title_activity_collapsing_toolbar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".intent.IntentActivity" />
        <activity android:name=".viewgroup.ConstraintLayoutActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".rtl.RTLActivity" />
        <activity android:name=".languageDetect.LanguageDetectActivity" />
        <activity android:name=".Handler.HandlerActivity" />
        <activity android:name=".jetpack.viewmodel.BatteryShowActivity" />
        <activity android:name=".jetpack.viewmodel.ClickActivity" />
        <activity android:name=".animation.AfterJumpActivity" />
        <activity android:name=".animation.BeforeJumpActivity" />
        <activity android:name=".jetpack.viewmodel.ShareDataActivity" />
        <activity android:name=".jetpack.viewmodel.TimerWithLiveDataActivity" />
        <activity android:name=".jetpack.viewmodel.TimerActivity" />
        <activity android:name=".recyclerview.WaterfallRecyclerViewActivity" />
        <activity android:name=".recyclerview.GridRecyclerViewActivity" />
        <activity android:name=".recyclerview.HorRecyclerViewActivity" />
        <activity android:name=".recyclerview.LinearRecyclerViewActivity" />
        <activity android:name=".recyclerview.RecyclerViewActivity" />
    </application>

</manifest>